{% extends 'base.html.twig' %}

{% block title %}
  PodCastTime
{% endblock %}

{% block body %}
  <div class="container mt-5 d-flex justify-content-center align-items-center flex-column">
    <h1 class="">
      Oh no! Parece que este podcast no existe!
    </h1>

    <a href="{{ path('podcast_index') }}" class="btn btn-primary mt-3">Volver a la lista de podcasts</a>

    <div class="mt-5 d-flex justify-content-center">
      <img src="{{ asset('assets/404.svg') }}" alt="404" class="img-fluid w-50">
    </div>

  </div>
</div>{% endblock %}